<script type="text/javascript">
function setActive()
	{
		var pathname = window.location.pathname;
		if(pathname=="/gstudio/user/wikipage/")
		 {
			document.getElementById("mnupages").className="active";
		 }
		else if(pathname=="/gstudio/resources/documents/")
		{
			document.getElementById("mnudoc").className="active";
		}
		else if(pathname=="/gstudio/resources/images/")
		{
			document.getElementById("mnuimg").className="active";
		}
		else if(pathname=="/gstudio/page/gnowsys-page/652/")
		{
			document.getElementById("mnuvid").className="active";
		}
			
	}
window.onload=setActive;
</script>
<link rel="shortcut icon" href="/static/gstudio/images-ison/favicon.html" />
<link href="/static/gstudio/css-ison/template_css.css" rel="stylesheet" type="text/css" />
<link href="/static/gstudio/css-ison/style6.css" rel="stylesheet" type="text/css" />
<link href="/static/gstudio/css-ison/typography.css" rel="stylesheet" type="text/css" />
<link href="templates/system/css/system.css" rel="stylesheet" type="text/css" />
<link href="templates/system/css/general
.css" rel="stylesheet" type="text/css" />
<link href="/static/gstudio/css-ison/rokslidestrip.css" rel="stylesheet" type="text/css" />
<link href="/static/gstudio/css-ison/rokmoomenu.css" rel="stylesheet" type="text/css" />
<div id="horiz-menu" class="moomenu">
				<div class="wrapper">
<a href="/"><li ><img src="/static/gstudio/images-ison/EoI_logo_small-white.png" height="40px"/></li></a>
			<ul class="menutop"><li id="current" class="item1"><a href="/"><span>Home</span></a></li>
									<!--
									<li class="item33"><a href="about.html"><span>About</span></a></li>-->

<!-- <li id="mnupages" class="item33"><a href="/gstudio/user/wikipage/"><span>Pages</span></a></li>
<li id="mnudoc" class="item27"><a href="/gstudio/resources/documents/"><span>Documents</span></a></li>
<li id="mnuimg" class="item34"><a href="/gstudio/resources/images/"><span>Images</span></a></li>
<li id="mnuvid" class="item65"><a href="/gstudio/page/gnowsys-page/652/"><span>Videos</span></a></li>
<li id="mnusite" class="item8"><a href="#"><span>Sitemap</span></a></li></ul> -->
<li id="mnudoc" class="item27"><a href="/ison/about/"><span>About</span></a></li>
<!--<li id="mnudoc" class="item27"><a href="/ison/ison/"><span>ISON</span></a></li>-->

<li class="parent item65"><a class="topdaddy" href="#">
<span>ISON</span></a><ul style="overflow: hidden; height: 120px; visibility: visible; opacity: 1;"><li class="item66">
<a href="/ison/ison-india/"><span>Images</span></a>
<li><li class="item67"><a href="#"><span>Experiences</span></a></li>
<li class="item70"><a href="/ison/workshops-list/"><span>Events</span></a></li>
<li class="item69"><a href="/ison/media/"><span>News</span></a></li></ul></li>

<!--<li id="mnudoc" class="item27"><a href="/ison/useful-stuff/"><span>Useful Stuff</span></a></li>!-->

<li class="parent item65"><a class="topdaddy" href="#">
<span>Useful Stuff</span></a><ul style="overflow: hidden; height: 90px; visibility: visible; opacity: 1;">
<li><li class="item67"><a href="/ison/faqs/"><span>FAQs</span></a></li>
<li class="item70"><a href="/ison/useful-links/"><span>Links</span></a></li>
<li class="item69"><a href="/ison/resources/"><span>Resources</span></a></li></ul></li>


<li id="mnudoc" class="item27"><a href="/ison/contact/"><span>Contact</span></a></li>

</div>
</div>								
