{% include "ison-html/ison-header.html" %}
	<!--Begin Main Column-->
	<div id="maincol" style="width: 685px">
		<div class="mainmod-top"><div class="topleft"><div class="topright"></div></div></div>
	<div class="mainmod-surround">
	<div id="mainmodules" class="spacer w49" style="padding:10px">
	
	
	<!-- Add Content Below This -->
	
	

<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Eyes on ISON Campaign, India</h2>
</td>
</tr>
</table>







<p>Comet ISON is a large "Sun-grazing" comet that will pass as close as a million kilometres from our Sun on the 28 November, 2013. This large new comet is coming into our neighbourhood for the first time and bears fingerprints of the history of the solar system. While exactly how bright it will get is difficult to predict, it will almost certainly develop into an object visible to the naked eye in our early morning skies when the dusty snowball gradually evaporates due to the heat from the Sun.</p>

<p>The arrival of the comet ISON into our horizon provides an exciting opportunity to gear towards involving school-going children and the public on a massive scale to track the comet, and participate in the unravelling of  its progression towards the Sun.</p>

<p>To this end, a consortium of astrophysicists, amateur astronomers, science activists and artist-designers have come together to catalyse a mass campaign on the comet's trail. The campaign is generating open-source digital resource material, conducting country-wide training workshops, and plans to work towards incorporating learning science by doing in schools after the comet, in alignment with the RTE 2009. </p>


<h3>Comet ISON: Its Name</h3>

<p>ISON stands for International Scientific Optical Network, a group of observatories in ten countries who have organized to detect, monitor, and track objects in space. ISON is managed by the Keldysh Institute of Applied Mathematics, part of the Russian Academy of Sciences.</p>



<br/>
<p style="color:#32447A;font-size:12px;">Images of Comet ISON taken with Hanle Telescope by Margarita Safonova, Indian Institute of Astrophysics</p>
<img src="/static/gstudio/images-ison/Safonova_Jan.jpg" border="0"  width="202px" height="220px"/>
<img src="/static/gstudio/images-ison/Safonova_May.jpg" border="0"  width="202px" height="220px"/ />
<img src="/static/gstudio/images-ison/Safonova_Sept.jpg" border="0"  width="202px" height="220px"/ />

							</div>
						</div>
	</div>
	<!--End Main Column-->
	
	
	
	
	<!--Begin Right Column-->
		<div id="rightcol" style="color:#32447A">
		<div class="padding">
		<div class="module">
		
		<div>
		<div>
		<div>
		<h3>News</h3>
			<ul class="bullet-3">

	
            <iframe id="NewsWindow" src="ison/latest/" marginwidth="0" marginheight="0" style="border: #000000 0px solid;" scrolling="no" width="500" frameborder="0" height="100"></iframe>
            
            </ul>
        </div>
		</div>
		</div>
		
		</div>
		</div>
		</div>
	
	
		<div id="rightcol" style="color:#32447A">
		<div class="padding">
		<div class="module">
		
		<div>
		<div>
		<div>
		<h3>Resources</h3>
			<ul class="bullet-3">

            {% include 'ison-html/link.html' %}
            
            </ul>
        </div>
		</div>
		</div>
		
		</div>
		</div>
		</div>
		
		<div id="rightcol">
		<div class="padding">
		<div class="module">
		
		<div>
		<div>
		<div>
		<h3>Workshops</h3>
			<ul class="bullet-3">
			<li><a href="/ison/workshops-list">List of Workshops</a></li>
			    <ul>
			    <li><a href="/ison/workshops-state">By State</a></li>
			    <li><a href="/ison/workshops-date">By Date</a></li>
			    <li><a href="/ison/workshops-look">At A Glance</a></li>
			    </ul>
			<li><a href="/ison/workshop-resources">National workshops</a></li>
            </ul>
        </div>
		</div>
		</div>
		
		</div>
		</div>
		</div>
		
	<!--End Right Column-->
	
	
		</div>
		<div class="clr"></div>
		</div>
		<div id="main-body-bottom"></div>
		<div class="wrapper"></div>
		</div>
		

	<!--End Main Content Area-->
{% include "ison-html/ison-footer.html" %}

	
</body>

</html>
