{% include "ison-html/ison-header.html" %}
						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->

<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Eyes on ISON Campaign, India</h2>
</td>
</tr>
</table>
<p>Comet ISON is a large "Sun-grazing" comet that will pass as close as a million kilometres from our Sun on the 28 November, 2013. This large new comet is coming into our neighbourhood for the first time and bears fingerprints of the history of the solar system. While exactly how bright it will get is difficult to predict, it will almost certainly develop into an object visible to the naked eye in our early morning skies when the dusty snowball gradually evaporates due to the heat from the Sun.</p>

<p>The arrival of the comet ISON into our horizon provides an exciting opportunity to gear towards involving school-going children and the public on a massive scale to track the comet, and participate in the unravelling of  its progression towards the Sun.</p>

<p>To this end, a consortium of astrophysicists, amateur astronomers, science activists and artist-designers have come together to catalyse a mass campaign on the comet's trail. The campaign is generating open-source digital resource material, conducting country-wide training workshops, and plans to work towards incorporating learning science by doing in schools after the comet, in alignment with the RTE 2009. </p>


<h3>Comet ISON: Its Name</h3>

<p>ISON stands for International Scientific Optical Network, a group of observatories in ten countries who have organized to detect, monitor, and track objects in space. ISON is managed by the Keldysh Institute of Applied Mathematics, part of the Russian Academy of Sciences.</p>



<br/>
<p style="color:#32447A;font-size:12px;">Images of Comet ISON taken with Hanle Telescope by Margarita Safonova, Indian Institute of Astrophysics</p>
<img src="/static/gstudio/images-ison/Safonova_Jan.jpg" border="0" width="323px" height="351px"/>
<img src="/static/gstudio/images-ison/Safonova_May.jpg" border="0" width="323px" height="351px"/ />
<img src="/static/gstudio/images-ison/Safonova_Sept.jpg" border="0" width="323px" height="351px"/ />

							</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
	
											<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<h3>Resources</h3>
											<ul class="bullet-3">
{% include 'ison-html/link.html' %}

</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		<!--Begin Bottom Area-->
				<div id="footer-top">
				<div id="footer-top2">
	<center>
				<div class="wrapper">
Powered by: <a href="https://github.com/gnowledge/ISON" target="_blank">Gnowsys-Studio</a>, <a href="http://www.hbcse.tifr.res.in" target="_blank">Homi Bhabha Centre for Science Education</a>, <a href="http://www.tifr.res.in" target="_blank">TIFR</a>	
<div class="creative-commons">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> 
					<p>  All material is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> unless mentioned otherwise.
					</p>

					</div>
</center>
				
									</div>
			</div>
				</div></div>
{% comment %}

				<div id="footer">
			<br/>
			<!--Begin Copyright and Validation Section-->
						<div id="footer-bar">
		
				
						<!--End Copyright and Validation Section-->
		</div>
		<!--End Bottom Area-->
{% endcomment %}			</body>

</html>
