{% include "ison-html/ison-header.html" %}
	<div id="maincol" style="width: 950px">
			<div class="mainmod-top"><div class="topleft"><div class="topright"></div></div></div>
	<div class="mainmod-surround">
	<div id="mainmodules" class="spacer w49" style="padding:10px">
	
	
	<!-- Add Content Below This -->
	
	
	
<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h1 style="color:#32447A"><a id="main">Eyes on ISON Campaign, India</a></h1>
</td>
</tr>
</table>

<p>The Eyes on ISON Campaign is built upon the experiences of the International Year of Astronomy 2009 and the Transit of Venus 2012, which were marked by partnerships between professionals, amateurs and activists.</p>

<p>The seeds of this campaign were sowed in February, 2013 at the All-India Peoples' Science Congress in Lucknow, where, taking ahead the notion of Universalising the Universe using the arrival of the Comet ISON event was mooted. A brain-storming meeting of interested individuals followed in April 2013 at their Homi Bhabha Centre for Science Education, TIFR, Mumbai. At this meeting a loose organisational structure was created and an action plan was formulated to (a) generate freely downloadable multi-lingual resource material and (b) conduct a country-wide cascading set of workshops to train resource persons who would conduct astronomy-related  activities at the local level. </p>
							
						<h3>National Co-ordination Committee of the Campaign:</h3>
							
<ul>
<li>Prajval Shastri (Indian Institute of Astrophysics, Bangalore): Chair </li> <br/>
<!--<li>Ujjwala Tirkey (NCSTC, Department of Science & Technology, New Delhi)</li> <br/>-->
<li>Aniket Sule (Homi Bhabha Centre for Science Education, Mumbai)</li><br/>
<li>Niruj Mohan (NCRA, Tata Institute of Fundamental Research, Pune)</li> <br/>
<li>Sabyasachi Chatterjee (Indian Institute of Astrophysics, Bangalore)</li><br/>
<li>Samir Dhurde (Inter-University Centre for Astronomy & Astrophysics)</li><br/>
<li>T.V. Venkateshwaran (Vigyan Prasar, New Delhi) </li><br/>
<li>Arvind Ranade (Vigyan Prasar, New Delhi)</li><br/>
<li>Ajay Talwar (Vice-President, Amateur Astronomers Association, New Delhi)</li><br/>
<li>Vivek Monteiro (Navnirmiti, Mumbai)</li><br/>
<li>Rustam Vania (Srishti School of Art, Design & Technology, Bangalore)</li><br/>
<li>T Gangadharan (All India People's Science Network)</li><br/>
<li>Arunabha Misra (Vidyasagar College, Kolkata): Secretary</li><br/></ul>

<h3>Advisory Panel of the Campaign:</h3>
<ul>
<li>Mustansir Barma (Director, Tata Institute of Fundamental Research)</li> <br/>
<li>Swarna Kanti Ghosh (Centre Director, NCRA, TIFR)</li><br/>
<li>Kevin Govender (Director, OAD, International Astronomical Union)</li><br/>
<li>Siraj Hasan (Distinguished Professor, Indian Institute of Astrophysics)</li><br/>
<li>Ajit Kembhavi (Director, IUCAA & President, Astronomical Society of India)</li><br/>
<li>Geetha Narayanan (Director, Srishti School of Art, Design & Technology)</li> <br/>
<li>Yash Pal (Former Chancellor, JNU & Chair, Steering Committee, NCF 2005)</li><br/>
<li>Jayashree Ramadas (Centre Director, HBCSE, TIFR)</li><br/>
<li>C.N.R. Rao (National Research Professor & Honorary President, JNCASR)</li><br/>
<li>G.S. Routela (Director General. National Council of Science Museums)</li> <br/>
<li>Govind Swarup (Emeritus Professor, TIFR)</li> <br/>
<li>Spenta Wadia (Director, International Centre for Theoretical Sciences, TIFR)</li><br/>
</ul>

<h3>The Campaign is Endorsed by: </h3>
<ul>
<li><a href="http://www.astron-soc.in/">Astronomical Society of India <a></li><br/>
<li><a href="http://www.krvp.org/">Karnataka Rajya Vijnana Parishat</a></li> <br/>
<li><a href="http://aaadelhi.org/">Amateur Astronomers Association Delhi</a></li> <br/>
<li><a href="http://bas.org.in/"> Bangalore Astronomical Society, Bangalore </a></li><br/>
</ul>

<h3>Webpage Team</h3>
Niruj Mohan Ramanujam, Samir Dhurde, Amit Dhakulkar, Kiran Tikare, Prajval Shastri, Jeeva, Raghuram Narayanan
<!--<h3>Technical Team </h3>
Kiran Tikare (Treasurer,Bangalore Astronomical Society, Bangalore) <br/>
-->

							</div>
						</div>
	<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
	<div id="main-content">
	    <div id="maincontent-block">
		<table class="blog" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top">
					<div>
					<table class="contentpaneopen">
					    <tr>
					    <td valign="top" colspan="2"></td>
				    	</tr>
                    </table>
                    <span class="article_separator">&nbsp;</span>
		            </div>
		    </td>
		</tr>
		</table>

		</div>
		
	</div>
	</div>
	<!--End Main Column-->
	
	
		</div>
		<div class="clr"></div>
		</div>
		<div id="main-body-bottom"></div>
		<div class="wrapper"></div>
		</div>
		

	<!--End Main Content Area-->
{% include "ison-html/ison-footer.html" %}

	
</body>

</html>
