{% include "ison-html/ison-header.html" %}


<!-- Add Content Here -->
<h3>EyesOnISON Activity Book </h3>

<p>The Universe around us is a universal science laboratory no country could ever afford to build. Yet it is available free of charge to every child and teacher in every school in the world. This booklet is for all these young scientists and astronomers everywhere in the world. </p>
(Click on the image to open the Activity Book) <br/>
<a href="https://docs.google.com/file/d/0B4fy1tdr5L7TenZlOFJjQkY5Zkk/edit?usp=sharing" target="_blank">
<img src="/static/gstudio/images-ison/activitybook-coverpage.jpg" border="0"/>
</a><br/>



    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}
