{% include "ison-html/ison-header.html" %}



<!-- Add Content Here -->

	
	<table>
	<tr>
		<td colspan="3" align="center"><img src="images/Bangalore-Workshop.jpg" border="0" width="400px" height="500px"></td>
	</tr>
<tr>
 <td colspan=3><b>National Training Workshop for the Eyes On ISON Campaign</b></td>
 
</tr>
<tr><td colspan=3>20-22 August, 2013, Centre for Contemporary Studies, IISc, Bangalore</td></tr>
<tr><td> Programme</td><td></td><td></td></tr>
<tr><td colspan="2">Workshop Co-ordinator :</td><td>H S Jaykumar</td></tr>
<tr><td colspan="2">Curriculum Co-ordinators :</td><td>Niruj Mohan, Prajval Shastri, Sabyasachi Chatterjee</td></tr>

<tr><td colspan="2"><strong>20 August 2013</strong></td><td></td></tr>
<tr><td>09:00</td><td>Registration</td><td></td></tr>
<tr><td>09:30</td> <td>Welcome </td><td>H S Jaykumar</td></tr>

<tr><td></td><td>Inaugural Address</td><td>Raghavendra Gadagkar, CCS, IISc</td></tr>
<tr><td></td><td>Introduction</td><td>Prajval Shastri</td></tr>
<tr><td>10:00</td><td>Group Activity on FAQs</td><td>Niruj Mohan & Prajval Shastri</td></tr>
<tr><td>11:15</td><td>Tea Break</td><td></td></tr>
<tr><td>11:30</td><td>Discussion of group activity</td><td>Niruj Mohan & Prajval Shastri</td></tr>
<tr><td>12:30</td><td>Lunch</td><td></td></tr>
<tr><td>14:00</td><td>Lecture on Comet ISON</td><td>Vasundhara Raju</td></tr>
<tr><td>15:00</td><td colspan="2">- Proceed to Public Lecture by Nobel Laureate Brian Schmidt, Faculty Hall, IISc -</td></tr>
<tr><td>16:00</td><td>Lecture: The Accelerating Universe</td><td>Brian Schmidt</td></tr>
<tr><td>17:30	</td><td>Demo on use of Campaign Resources</td><td>Niruj Mohan, Samir Dhurde, Kiran Tikare, Ajay Talwar</td></tr>
<tr><td>18:30	</td><td>Night sky activities demo</td><td>Ajay Talwar, Kiran Tikare</td></tr>
<tr><td>20:30</td><td>Dinner</td><td></td></tr>

<tr><td colspan="2"><strong>21 August 2013</strong></td><td></td></tr>
<tr><td>09:00</td><td>Lecture: Solar system and Comets</td><td>B S Shylaja</td></tr>
<tr><td>10:00</td><td>Daytime Astronomy – demo</td><td>Vivek Monteiro</td></tr>
<tr><td>11:30</td><td>Tea Break</td><td></td></tr>
<tr><td>11:45</td><td>Role Play activities</td><td>T V Venkateswaran</td></tr>
<tr><td>13:15</td><td>Lunch</td><td></td></tr>
<tr><td>14:30</td><td>Group discussion: Astrology, Superstitions & Coincidences</td><td>Niruj Mohan, Sabyasachi Chatterjee</td></tr>
<tr><td>15:45</td><td>Presentation by the groups</td><td>Niruj Mohan, Sabyasachi Chatterjee</td></tr>
<tr><td>16:30</td><td>Tea Break</td><td></td></tr>
<tr><td>16:45</td><td>Lecture: History of Astronomy in India</td><td>K Pappootty</td></tr>
<tr><td>17:45</td><td>Vainu Bappu's Comet</td><td>Amar Sharma</td></tr>
<tr><td>18:00</td><td>Comet Craft</td><td>Samir Dhurde</td></tr>
<tr><td>19:00</td><td>Night sky activities demo</td><td>Ajay Talwar, Kiran Tikare</td></tr>
<tr><td>20:30</td><td>Dinner</td><td></td></tr>
<tr><td colspan="2"><strong>22 August 2013</strong></td><td></td></tr>
<tr><td>09:00</td><td>Sharing of Previous Experiences</td><td>Niruj Mohan, Prajval Shastri (moderators)</td></tr>
<tr><td>10:00</td><td>Organising the Campaign</td><td>Niruj Mohan, Arunabha Misra, T Gangadharan</td></tr>
<tr><td>13:00</td><td>Concluding Session</td><td>H S Jaykumar</td></tr>
<tr><td>13:30</td><td>Lunch & End of Workshop</td><td></td></tr>
<tr><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td></tr>

</table>


    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}
