{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->

<table border="0">
<tr>
<td>
<img src="res/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Eyes on ISON Campaign, India</h2>
</td>
</tr>

</table>
				 <br/>

<table cellpadding="2" cellspacing="0" border="0" style="border: #000000 0px solid; background-color: #ACDDE7;COLOR: #000000; FONT: 18px arial, sans-serif; font-weight: bold;" align="center"><tr><td align="center">
Latest News from the Campaign<br>
</td></tr><tr><td>
<iframe id="NewsWindow" src="latestnews.htm" width="500" height="100" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" style="border: #000000 0px solid;"></iframe>
</td></tr></table>

<br><br>

<p>Comet ISON is a large <a href="http://en.wikipedia.org/wiki/Sungrazing_comet">Sun-grazing</a> comet whose perihelion will occur on  November 29, 2013. This comet is coming into our neighbourhood for the very first time and bears fingerprints of the history of our solar system. While exactly how bright it will get is uncertain, this is nevertheless an exciting opportunity to involve school-going children and the public of India on a massive scale to track the comet.</p>  

<p>To this end, a consortium of astrophysicists, amateur astronomers, science activists and artist-designers have come together to catalyse an India-wide mass campaign on the comet’s trail. The activities of the campaign, spanning a period from October to February and beyond, are aimed at sharing the excitement of science with the public, having school children learn science by doing and discovering, and furthering public ownership of science. </p>

<p>The campaign is conducting a country-wide cascading set of training workshops, and working towards incorporating “learning science by doing” into the school curriculum, in the spirit of  the Right To Education Act 2009.</p>

<p>The multi-lingual resource material on this website is freely downloadable. An acknowledgement to “Eyes on ISON Campaign, India” will be deeply appreciated.</P>

<h3>Comet ISON: Its Name</h3>

<p>ISON stands for International Scientific Optical Network, a group of observatories in ten countries who have organized to detect, monitor, and track objects in space. ISON is managed by the Keldysh Institute of Applied Mathematics, part of the Russian Academy of Sciences.</p>



<br/>
<p style="color:#32447A;font-size:12px;">Images of Comet ISON taken with Hanle Telescope by Margarita Safonova, Indian Institute of Astrophysics</p>
<img src="res/Safonova_Jan.jpg" border="0" width="202px" height="220px"/>
<img src="res/Safonova_May.jpg" border="0" width="202px" height="220px"/ />
<img src="res/Safonova_Sept.jpg" border="0" width="202px" height="220px"/ />
							</div>
						</div>


    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}