{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->

<table border="0">
<tr>
<td>
<img src="res/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">In the media </h3>
</td>
</tr>
</table>



<p>Listed below are articles about comet ISON in the Indian media, in various languages. If you know of an article we have missed do send us athe link. </p>

<ul>
<li><a href="#eng">Articles in English</a> </li>
<li><a href="#hin">Articles in Hindi </a></li>
<li><a href="#mar">Articles in Marathi </a></li>
<li><a href="#tam">Articles in Tamili </a></li>
<li><a href="#ben">Articles in Bengali </a></li>
</ul>

<h3><u><a id="eng">Articles in English</a></u></h3>
<ol>
<li></li>
</ol>
<br>

<h3><u><a id="hin">Articles in Hindi</a></u></h3>
<ol>
<li></li>
</ol>
<br>

<h3><u><a id="hin">Articles in Marathi</a></u></h3>
<ol>
<li><a href="http://shikshanprayog.blogspot.in/2013/09/blog-post_12.html">A blog on ISON (Shikshan Prayog)</a></li>
<li><a href="http://online3.esakal.com/NewsDetails.aspx?NewsId=5754875581079337305&SectionId=10SectionName=%E0%A4%AA%E0%A5%81%E0%A4%A3%E0%A5%87&NewsTitle=%E0%A4%86%E0%A4%AF%E0%A4%B8%E0%A5%89%E0%A4%A8%20%E0%A4%A7%E0%A5%82%E0%A4%AE%E0%A4%95%E0%A5%87%E0%A4%A4%E0%A5%82%20%E0%A4%AA%E0%A4%BE%E0%A4%B9%E0%A4%A3%E0%A5%8D%E0%A4%AF%E0%A4%BE%E0%A4%9A%E0%A5%80%20%E0%A4%B8%E0%A4%82%E0%A4%A7%E0%A5%80">ISON dhoomaketu paahanyachi sandhi (Sakal, 2 Oct 2013)</a></li>
<li><a href="http://maharashtratimes.indiatimes.com/maharashtra/nagpur-vidarbha/-/articleshow/23177580.cms">ISON dhoomaketu disnaar (Maharashtra Time (28 Sep 2013)</a></li>
<li><a href="http://maharashtratimes.indiatimes.com/international/--/articleshow/19716149.cms?">Shatakaateel sarvaath tejasvi dhoomaketu ? (Maharashtra Times, 25 Apr 2013)</a></li>
<li><a href="http://www.loksatta.com/desh-videsh-news/big-comet-will-come-in-2013-32562/">2013 madhye bhetees yenar mahadhoomaketu (Loksatta, 26 Dec 2012)</a></li>
<li><a href=""></a></li>
<li><a href=""></a></li>
<li><a href=""></a></li>
<li><a href=""></a></li>
</ol>
<br>




    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}