
	</div>
	</div>
	
	<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
	<div id="main-content">
	    <div id="maincontent-block">
		<table class="blog" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top">
					<div>
					<table class="contentpaneopen">
					    <tr>
					    <td valign="top" colspan="2"></td>
				    	</tr>
                    </table>
                    <span class="article_separator">&nbsp;</span>
		            </div>
		    </td>
		</tr>
		</table>

		</div>
		
	</div>
	</div>
	<!--End Main Column-->
	
	
		</div>
		<div class="clr"></div>
		</div>
	<!--	<div id="main-body-bottom"></div>-->
		<div class="wrapper"></div>
		</div>
		

<!--Begin Bottom Area-->
				<div id="footer-top">
				<div id="footer-top2">
	<center>
				<div class="wrapper">
Powered by: <a href="https://github.com/gnowledge/ISON" target="_blank">Gnowsys-Studio</a>, <a href="http://www.hbcse.tifr.res.in" target="_blank">Homi Bhabha Centre for Science Education</a>, <a href="http://www.tifr.res.in" target="_blank">TIFR</a>	
<div class="creative-commons">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> 
					<p>  All material is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> unless mentioned otherwise.
					</p>

					</div>
</center>
				
									</div>
			</div>
				</div></div>
{% comment %}

				<div id="footer">
			<br/>
			<!--Begin Copyright and Validation Section-->
						<div id="footer-bar">
		
				
						<!--End Copyright and Validation Section-->
		</div>
		<!--End Bottom Area-->

{% endcomment %}



	
</body>

</html>
