
{% include "ison-html/ison-header.html" %}
						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->

<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">Photographs of comet ISON </h3>
</td>
</tr>
</table>
                            
                             										
								<ul>
	
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->
<table border="0">
<tbody><tr>
<td>
<img src="res/EoI_logo_small.png" height="103px" width="140px" border="0">
</td>
<td>
<h3 style="color:#32447A">Photographs of comet ISON </h3>
</td>
</tr>
</tbody></table>

<p>Amateurs and professionals in India have been busy photographing comet ISON and we present some of them here. If you have taken a photograph and would like to put it up here, do send it to us.</p>


<table border="0" cellspacing="10">

<tbody><tr> <td align="center"><img src="/static/gstudio/images-ison/ison_iucaa_15nov2013.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 15 Nov 2013<br> JVP and Samir Dhurde (IUCAA, Pune) <br>
Canon EOS 7D, 400mm f/8, (left) processed with photoshop and (right_ colour inverted and desaturated</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_apporvthacker_15nov2013.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 15 Nov 2013<br> Apoorv Thacker, Dandoba, Sangli, Maharashtra <br>
Canon 600D, 50mm f/1.8 4X26 sec, Stacked, Deepsky Stacker </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_talwar_12nov13.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 12 Nov 2013<br> Ajay Talwar, Devasthal</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_talwar_7nov13.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 7 Nov 2013<br> Ajay Talwar, Devasthal</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_1nov13_zota.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 1 Nov 2013<br> Rahul Zota (KAAC, Bhuj, Gujarat)i <br> Canon EOS 550D, 55-250 IS @250 mm, f/5.6; 5X75 sec, Deep Sky Stacker Beta 3.3 and Photoshop</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_amarsharma_06oct2013.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 6 Oct 2013<br> Amar Sharma (Nikaya Observatory, Bengaluru) <br> C-14 EHD + SBIG ST8XME, 5X90 seconds</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_jvp_2nov2013.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 2 Oct 2013<br> Jyothirvidya Parisanstha (Pune) <br> 10" Newtonian, Canon 5D II, 5X90 sec, Stacked image</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_safonova_sep13.jpeg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 8 Sep 2013<br> Margarita Safonova (Himalayan Chandra Telescope) </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_safonova_may13.jpeg" width="500" border="0"></td> </tr>
<tr> <td align="center">Comet ISON, 1 May 2013<br> Margarita Safonova (Himalayan Chandra Telescope) </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_amarsharma_09jan2013.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Possible image of Comet ISON, 09 Jan 2013<br> Submitted by Amar Sharma (Nikaya Observatory, 
Bengaluru) <br> C-14 EHD + SBIG ST8XME, 4X60 seconds</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/ison_amarsharma_15dec2012.jpg" width="500" border="0"></td> </tr>
<tr> <td align="center">Possible image of Comet ISON, 15 Dec 2012<br> Submitted by Amar Sharma (Nikaya Observatory, 
Bengaluru) <br> C-14 EHD + SBIG ST8XME, 1X60 seconds </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

</tbody></table>



														</div>
												
								</ul>
							</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
												<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<strong>eyesonison.india@gmail.com</strong><hr><br/> <br/>  <!--<h3>Resources</h3>-->
											<ul class="bullet-3">

{% include 'ison-html/link.html' %}
</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		<!--Begin Bottom Area-->
				<div id="footer-top"><div id="footer-top2"></div></div>
				<div id="footer">
			<br/>
			<!--Begin Copyright and Validation Section-->
						<div id="footer-bar">
				<div class="wrapper">
							<!--				<div class="copyright-block">
						<a href="http://www.relativitycomputing.com/" title="Kiran Tikare" class="nounder"><img src="images/blank.gif" alt="Developed by Kiran Tikare" id="rocket" /></a>
						<div id="copyright">
							&copy; Copyright 2013, All Rights Reserved
						</div>
					</div>
								-->							
									</div>
			</div>
						<!--End Copyright and Validation Section-->
		</div>
		<!--End Bottom Area-->
			</body>

</html>
