
{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->
<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">Photographs of comet ISON </h3>
</td>
</tr>
</table>

<p>Amateurs and professionals in India have been busy photographing comet ISON and we present some of them here. If you have taken a photograph and would like to put it up here, do send it to us.</p>


<table border="0" cellspacing="10">

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_221113_KikonKohima.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 22 Nov 2013<br> P. Kikon (Kohima) <br>
4.30 am, Nikon D310 + 250mm telescope </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_171113_sarkar_swan.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 17 Nov 2013<br> Debasis Sarkar and SWAN team (Bodagunj, Jalpaiguri, W Bengal)<br>
5 am, Nikon D7000 + F50mm f/1.4, 6 sec, single frame</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_161113_nileshdesai.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 16 Nov 2013<br> Nilesh Desai<br>
5.30 am, Canon 7D + 400m F5.6 + Losmandy G11 mount, 8 min</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_iucaa_15nov2013.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 15 Nov 2013<br> JVP and Samir Dhurde (IUCAA, Pune) <br>
Canon EOS 7D, 400mm f/8, (left) processed with photoshop and (right_ colour inverted and desaturated</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_apporvthacker_15nov2013.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 15 Nov 2013<br> Apoorv Thacker, Dandoba, Sangli, Maharashtra <br>
Canon 600D, 50mm f/1.8 4X26 sec, Stacked, Deepsky Stacker </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_talwar_12nov13.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 12 Nov 2013<br> Ajay Talwar, Devasthal</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_081113_vbo_rtbf.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 8 Nov 2013<br> VBO 1.3m (Kavalur), by Anbazhagan and Selva Kumar<br>
4.52 am, 900sec, R filter on 1.3m VBO</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_081113_vbo_true.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 8 Nov 2013<br> VBO 1.3m (Kavalur), by Anbazhagan and Selva Kumar<br>
True colour, 1.3m VBO</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_talwar_7nov13.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 7 Nov 2013<br> Ajay Talwar, Devasthal</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_1nov13_zota.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 1 Nov 2013<br> Rahul Zota (KAAC, Bhuj, Gujarat)i <br> Canon EOS 550D, 55-250 IS @250 mm, f/5.6; 5X75 sec, Deep Sky Stacker Beta 3.3 and Photoshop</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_amarsharma_06oct2013.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 6 Oct 2013<br> Amar Sharma (Nikaya Observatory, Bengaluru) <br> C-14 EHD + SBIG ST8XME, 5X90 seconds</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_jvp_2nov2013.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 2 Oct 2013<br> Jyothirvidya Parisanstha (Pune) <br> 10" Newtonian, Canon 5D II, 5X90 sec, Stacked image</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_safonova_sep13.jpeg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 8 Sep 2013<br> Margarita Safonova (Himalayan Chandra Telescope) </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_safonova_may13.jpeg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Comet ISON, 1 May 2013<br> Margarita Safonova (Himalayan Chandra Telescope) </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_amarsharma_09jan2013.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Possible image of Comet ISON, 09 Jan 2013<br> Submitted by Amar Sharma (Nikaya Observatory, 
Bengaluru) <br> C-14 EHD + SBIG ST8XME, 4X60 seconds</td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

<tr> <td align="center"><img src="/static/gstudio/images-ison/isonpics/ison_amarsharma_15dec2012.jpg" border="0" width="500" /></td> </tr>
<tr> <td align="center">Possible image of Comet ISON, 15 Dec 2012<br> Submitted by Amar Sharma (Nikaya Observatory, 
Bengaluru) <br> C-14 EHD + SBIG ST8XME, 1X60 seconds </td> </tr>
<tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr> <tr><td></td></tr>

</table>



    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}