
{% include "ison-html/ison-header.html" %}
						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->

<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">The EyesOnISON Campaign in the Indian Media</h3>
</td>
</tr>
</table>
                            
                             										
								<ul>
									<li><strong>Bangalore</strong></li>
									<li><a href="http://www.thehindu.com/todays-paper/tp-national/tp-karnataka/workshop-to-kindle-curiosity-about-comet-ison/article5050856.ece" target="_blank">Workshop to kindle curiosity about Comet ISON (The Hindu)</a></li>
                                    <li><a href="http://www.prajavani.net/article/%E0%B2%90%E0%B2%B8%E0%B2%BE%E0%B2%A8%E0%B3%8D-%E0%B2%A7%E0%B3%82%E0%B2%AE%E0%B2%95%E0%B3%87%E0%B2%A4%E0%B3%81%E0%B2%B5%E0%B2%BF%E0%B2%A8%E0%B2%BF%E0%B2%82%E0%B2%A6-%E0%B2%85%E0%B2%AA%E0%B2%BE%E0%B2%AF%E0%B2%B5%E0%B2%BF%E0%B2%B2%E0%B3%8D%E0%B2%B2" target="_blank">ISON Dhumaketuvininda Apayavilla (Prajavani, Kannada)</a></li>
                                    <li><a href="http://kannada.oneindia.in/news/2013/08/18/districts-workshop-on-ison-comet-in-bangalore-076675.html" target="_blank">ISON Dhumaketu bagge Bengaluralli Karyagara (oneindia.in,Kannada)</a></li>
                                    <li><a href="http://articles.timesofindia.indiatimes.com/2013-08-21/news/41432470_1_comet-ison-mass-campaign-contemporary-studies" target="_blank"> Workshop for sun-grazing comet at Indian Institute of Science, Bangalore (Times of India)</a></li>
                                    <li><a href="http://www.dnaindia.com/scitech/1876869/report-astronomers-plan-campaign-to-track-ison-comet" target="_blank">Astronomers plan campaign to track ISON Comet(DNA)</a></li>

									<li><strong>Guwahati</strong></li>
                                    <li><a href="http://articles.timesofindia.indiatimes.com/2013-08-23/guwahati/41439772_1_comet-ison-3-day-workshop-three-day-national-workshop" target="_blank">3-day workshop on comet Ison begins in city (Times of India)</a> </li>
								</ul>
                                <br/>
								<h3>Link to some useful External Resources </h3>
							&nbsp; <p>Find below Some of the external links related to Comet ISON.</p>
							
								<ul>
									
									<li><a href="http://sungrazer.nrl.navy.mil/index.php?p=ison" target="_blank">NASA Comet ISON Observing Campaign</a></li>
									<li><a href="http://theskylive.com/ison-tracker" target="_blank">ISON Tracker</a></li>
									<li><a href="http://blog.ison2013.org/" target="_blank">Comet ISON Daily Pictures</a></li>
									<li><a href="http://www.wikihow.com/Add-Comet-ISON-to-Stellarium" target="_blank">How to Add Comet ISON to Stellarium </a></li>
								</ul>
								
								<h3>Useful free Open Source Softwares</h3>
								<ul>
									<li><a href="http://www.stellarium.org/" target="_blank">Stellarium</a></li>
							
								</ul>
							</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
												<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<strong>eyesonison.india@gmail.com</strong><hr><br/> <br/>  <!--<h3>Resources</h3>-->
											<ul class="bullet-3">

{% include 'ison-html/link.html' %}
</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		{% include "ison-html/ison-footer.html" %}
			</body>

</html>
