{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->


<h3> Maharashtra workshop for Eyes on ISON campaign </h3>

<p><srong>Date : October 1-2, 2013</srong></p>
<p><srong>Venue : Pune</srong></p>

<p>We invite individuals and organizations to apply to participate in the Maharashtra workshop of the Eyes on ISON campaign. Deadline for submission is Sept 19th, 2013 (extended to Sept 23). Further details are provided in the application forms below.</p>

<strong>For individuals :</strong> <br/>

<p>You can apply through any ONE of the following ways</p>
<ul>
    <li>Via the <a href="https://docs.google.com/forms/d/1cb0EME8J2YEyHcYlYV8ncwH9KroX22kprYn9n7e_TD0/" target="_blank">online form</a> </li>
    <li>Download <a href="res/mah_workshop_individual_application.doc" target="_blank">Application Form </a> , fill it up, and email the form to    <strong>navnirmitilearning@gmail.com </strong></li>
</ul>

<strong>For organisations who would like to recommend a set of people,</strong><br/>

<p>You can apply through any ONE of the following ways</p>
<ul>
    <li> Via the  <a href="https://docs.google.com/forms/d/1HxAAEYuqVl2VcpbhmZ34Ibm8xJSamAvqHiXeQzc4c5M" target="_blank">online form</a></li> 
    <li> Download <a href="res/mah_workshop_organisation_application.doc" target="_blank">Application Form</a>, fill it up, and email the form to  <strong>navnirmitilearning@gmail.com</strong> </li>
</ul>
<p>For further information or clarification, please contact Vipula Abhyankar (9403359608)</p>

<strong>Maharashtra Platform </strong> <br/>
<p>
We are forming an informal platform of groups and individuals who are interested in organising events around comet ISON in Maharashtra. We envisage this platform as a means to sharing resources, offering and receiving help from each other, and sharing information about each others events. If you would like to join the platform, please email Vipula Abhyankar at <strong>navnirmitilearning@gmail.com</strong>
</p>






    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}