{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->
<table border="0">
<tr>
<td>
<img src="res/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">News & Events</h3>
</td>
</tr>
</table>

                            
     <h3>Workshop Schedules</h3>
     <ul>
     	<li><a href="bangalore.html"> Bangalore Workshop Schedule- 20 to 22 August 2013</a></li>
         <li><a href="guwahati.html"> Guwahati Workshop Schedule- 22 to 24 August 2013</a></li>
         <li><a href="bhopal.html"> Bhopal Workshop Schedule- 3 to 5 September 2013</a></li>
     </ul>
     
     <h3>Bangalore Workshop Updates & Photos</h3>
        <ul>
        		<li><a href="#"></a> </li>
        </ul>
     
     <h3>Guwahati Workshop Updates & Photos</h3>
        <ul>
        		<li><a href="#"></a> </li>
        </ul>
        
      <h3>Bhopal Workshop Updates & Photos</h3>
        <ul>
        		<li><a href="#"></a> </li>
        </ul>  




    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}