{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->
    
    
<h3>Documents & Articles </h3>
<p>Find below Some of the Documents & Articles with more information. You can right click on each link and save them to your computer.</p>

<ul>
    <li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28OE1nWGNoR2xSX1k/edit?usp=sharing" target="_blank">Handbook (PDF)</a></li>
	<li><a href="res/ISON-constellations-conjunctions.pdf" target="_blank">ISON Constellation Conjunctions (PDF)</a></li>
	<li><a href="res/ISON-Elements-Ephemeris.pdf" target="_blank">ISON Elements Ephemeris (PDF)</a></li>
	<li><a href="res/An-Illustrated-Guide-to-Comets.pdf" target="_blank">An Illustrated Guide to Comets (PDF)</a></li>
	<li><a href="res/HallyComet.pdf" target="_blank">Halley's comet and the exacting standards of exact sciences (PDF)</a> </li>
</ul>
    


    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}