{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->


<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h1 style="color:#32447A"><a id="main">The comet poster gallery</a></h1>
</td>
</tr>
</table>


<p>The Eyes on ISON campaign has created a set of 19 posters on comets, including how to observe comet ISON. You can download
them, for printing and sharing <a href="/ison/posters-gallery">from here</a>.</p>

<p><b>Do not</b> save the images below for printing; they are not of printable quality.</p>

<table cellspacing="20">
<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster01_SolarSystem_small.jpg" width="300px"> </td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster03_WhatIsComet_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster04_CometAnatomy_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster05_CometTails_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster06_OrbitsOfComets_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster07_TypesOfComets_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster11_DidCometsWetEarth_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster12_Cometthreattolife_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster13_Shoemakerlevy9JupiterCrash_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster14_FamousCraters_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster15_MeteorShowers_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster18_CometISON_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster19_TrackISON_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster16_HistoryofCometWatching_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster17_DiscoverComet_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster09_HalleysComet_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster08_FamousComets_small.jpg" width="300px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster10_CometSpaceMissions_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster02_FormationOfSolarSystem_small.jpg" width="300px"></td>
</tr>

</table>





    


    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}
