{% include "ison-html/ison-header.html" %}

						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->


<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h1 style="color:#32447A"><a id="main">The comet poster gallery</a></h1>
</td>
</tr>
</table>


<p>The Eyes on ISON campaign has created a set of 19 posters on comets, including how to observe comet ISON. You can download
them, for printing and sharing <a href="/ison/posters-gallery">from here</a>.</p>

<p><b>Do not</b> save the images below for printing; they are not of printable quality.</p>

<table cellspacing="20">
<tr>
<td><img src="images/psmall/Poster01_SolarSystem_small.jpg" width="300px"> </td>
<td><img src="images/psmall/Poster03_WhatIsComet_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster04_CometAnatomy_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster05_CometTails_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster06_OrbitsOfComets_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster07_TypesOfComets_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster11_DidCometsWetEarth_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster12_Cometthreattolife_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster13_Shoemakerlevy9JupiterCrash_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster14_FamousCraters_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster15_MeteorShowers_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster18_CometISON_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster19_TrackISON_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster16_HistoryofCometWatching_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster17_DiscoverComet_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster09_HalleysComet_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster08_FamousComets_small.jpg" width="300px"></td>
<td><img src="images/psmall/Poster10_CometSpaceMissions_small.jpg" width="300px"></td>
</tr>

<tr>
<td><img src="images/psmall/Poster02_FormationOfSolarSystem_small.jpg" width="300px"></td>
</tr>

</table>







														</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
												<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<strong>eyesonison.india@gmail.com</strong><hr><br/> <br/>  <h3>Resources</h3>
											<ul class="bullet-3">
{% include "ison-html/link.html" %}

</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		{% include "ison-html/ison-footer.html" %}
			</body>

</html>
