{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->


<h3> Promoting Scientific Outlook - photographs for press</h3>


<h4>Pic 1 : Prof Narlikar speaks on 'An experimental test of Astrology'</h4>

<a href="/static/gstudio/images-ison/pune/Promoting_Scientific_Outlook__Prof_Narlikar_speech_low_res.jpg">Image</a> (3 MB) <br>

<h4>Pic 2 : All four speakers (Prof. Narlikar, Shri Vinod Shirsat, Dr. Anant Phadke and Prof. Pushpa Bhave</h4>

<a href="/static/gstudio/images-ison/pune/Promoting_Scientific_Outlook__All_Speakers_low_res.jpg">Image</a> (4 MB) <br>

<h4>Pic 3 : First photograph of comet ISON taken by an amateur astronomy group in India, Oct 2nd, 4 am at the Maharashtra
workshop of Eyes on ISON, Pune, by Jyotirvidya Parisanstha </h4>

<a href="/static/gstudio/images-ison/pune/comet_ISON_JVP_pune.jpg">Image</a>  <br>
<a href="/static/gstudio/images-ison/pune/comet_ISON_jvp_invertedgrayscale.jpg">Inverted grayscale Image</a>  <br>





    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}