{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->


<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Videos and Animations</h2>
</td>
</tr>

</table>


<ul>

<li><a href="http://daytimeastronomy.org/sooraj-zameen-par-0">'Suraj Zameen Par: Videos of Day-time Astronomy Experiments,

(to accompany the activity book "Universal Astronomy - a beginning")'</a></li><br>
<li><a href="http://www.youtube.com/watch?v=1F_n4br0YL0">
Video on Comet ISON (K Pappootty, <b>Malayalam</b>)</a></li><br>
<li><a href="http://vasundhara-raju.com/ISON/CometMeteorConnection.mp4">Video on Comet ISON by Vasundhara Raju</a></li><br>

<li><a href="http://hubblesite.org/newscenter/archive/releases/2005/16/video/b/">Animation: Dust Jet Plumes Erupting from Comets</a></li>
<li><h4>Animations of the path of Comet ISON:</h4></li>

</ul><br>
<b>EYES on ISON View from Side:</b><iframe width="600" height="450" src="//www.youtube.com/embed/UjvX6NgQMgc" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON Riding on the Comet:</b><iframe width="600" height="450" src="//www.youtube.com/embed/vXY_f38opDE" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON Before Perihelion:</b> <iframe width="600" height="450" src="//www.youtube.com/embed/L_qPR1NJmbM" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON After Perihelion:</b><iframe width="600" height="450" src="//www.youtube.com/embed/c_i9q4wR-Kg" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON Through Constellations:</b><iframe width="600" height="450" src="//www.youtube.com/embed/GM54T3gyf9k" frameborder="0" allowfullscreen></iframe><br><br>




    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}