{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->
    
<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Campaign Handbooks</h2>
</td>
</tr>
</table>


<p>
The Eyes on ISON campaign had produced resource materials of many types, and are translating them into as many languages
as possible. All of these can be freely downloaded below, for non-commercial use, by anyone. If you would like to help us translate any of these into a language you are familiar with, let us know.
</p>


<table border="0" cellspacing="10">
<tr>
<td align="center"><img src="/static/gstudio/images-ison/handbook_activities_thumbnail.jpg" width="165"/></td>
<td align="center"><img src="/static/gstudio/images-ison/roleplay_thumbnail.jpg" width="176"/></td>
<td align="center"><img src="/static/gstudio/images-ison/art_handbook_thumbnail.jpg" width="154"/></td>
</tr>
<tr>
<td> <a href="#h_act">1. Handbook of 25 simple astronomy activities</a></td>
<td> <a href="#h_rp">2. Handbook of Role-play games for basic astronomy</a></td>
<td> <a href="#h_art">3. Handbook of articles on comets</a></td>
</tr>
</table>

<h2><a id="h_act">1. Handbook of 25 Simple Astronomy Activities </a></h2>

<b>"Universal Astronomy - a beginning"</b> is a book of 25 simple Astronomy activities that can be performed by school students at very low cost. These range from experiments using trigonometry, to activities to replicate the Solar System on the school ground, to demonstrating the path of comets using magnets ! This handbook is  put together by Navnirmiti Foundation for the campaign, with support from Vigyan Prasar, and includes illustrative pictures taken from previous workshops.<br><br>

<u>Download</u>  <br>
<ol>
<li>English version : <a href="https://drive.google.com/file/d/0B6PpLaUI3IuFR0NvajZ5dHowZ2c">Low-res</a> (14 MB) or the <a href="https://docs.google.com/file/d/0B4fy1tdr5L7TenZlOFJjQkY5Zkk">Hi-res</a> (135 MB)</li>
<li>Marathi version : <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFdjZsQ0c3UnA4Rk0">Low-res</a> (2 MB), <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFc01sQXp1cThkeGs">Hi-res</a> (30 MB) </li>
<li>Punjabi version : <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFckVZYWFDNW1Yb28">Low-res</a> (1.5 MB) </li>
</ol>


<h2><a id="h_rp">2. Basic Astronomy through Role-play: A Handbook </a></h2>

This handbook for science activists on explaining the basics of Astronomy through role-play is aimed at science activists as well as teachers. This contains a set of role-play games to help us understand the motion of the Sun, Moon, stars and planets, rising and setting of bodies, phases of the moon, rotation and revolution, and various timescales on Earth. This handbook is written by T.V. Venkateswaran and Anshumala Gupta, for the AIPSN.<br><br>

<u>Download</u>  <br>
<ol>
<li>English version : <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFSHo5d3JXVVhadzg">here</a> (5.2 MB) <br></li>
<li>Hindi version : <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFQ1Jyd21sbFJXYWs">here</a> (4.8 MB) <br></li>
<li>Marathi version : <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFYWtSOGhhbjZVRE0">here</a> (3.3 MB) <br></li>
</ol>


<h2><a id="h_art">3. Handbook of Articles on comets</a></h2>

This handbook is a compilation of articles and notes on comets, produced for the campaign. Some of these were written by 
campaign partners and some have been compiled from online sources, as is mentioned in the handbook. As for all other resources on this page, this handbook too is freely available for non-commercial usage.<br><br>

<u>Download</u>  <br>
<ol>
<li>English version : <a href="https://drive.google.com/file/d/0B6PpLaUI3IuFdWRURTJIbE5keE0">here</a> (1.7 MB) <br></li>
<li>Punjabi version : <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFNk94dm9GQzBPTGs">here</a> (0.6 MB) <br></li>
<li>Assamese version : <a href="https://drive.google.com/file/d/0B6PpLaUI3IuFUHRITkFaQzlDcFU">here</a> (2 MB) <br></li>
</ol>

<br>


    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}