{% include "ison-html/ison-header.html" %}
						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->


<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Videos and Animations</h2>
</td>
</tr>

</table>


<ul>

<li><a href="http://daytimeastronomy.org/sooraj-zameen-par-0">'Suraj Zameen Par: Videos of Day-time Astronomy Experiments,

(to accompany the activity book "Universal Astronomy - a beginning")'</a></li><br>
<li><a href="http://www.youtube.com/watch?v=1F_n4br0YL0">
Video on Comet ISON (K Pappootty, <b>Malayalam</b>)</a></li><br>
<li><a href="http://vasundhara-raju.com/ISON/CometMeteorConnection.mp4">Video on Comet ISON by Vasundhara Raju</a></li><br>

<li><a href="http://hubblesite.org/newscenter/archive/releases/2005/16/video/b/">Animation: Dust Jet Plumes Erupting from Comets</a></li>
<li><h4>Animations of the path of Comet ISON:</h4></li>

</ul><br>
<b>EYES on ISON View from Side:</b><iframe width="600" height="450" src="//www.youtube.com/embed/UjvX6NgQMgc" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON Riding on the Comet:</b><iframe width="600" height="450" src="//www.youtube.com/embed/vXY_f38opDE" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON Before Perihelion:</b> <iframe width="600" height="450" src="//www.youtube.com/embed/L_qPR1NJmbM" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON After Perihelion:</b><iframe width="600" height="450" src="//www.youtube.com/embed/c_i9q4wR-Kg" frameborder="0" allowfullscreen></iframe><br><br>
<b>EYES on ISON Through Constellations:</b><iframe width="600" height="450" src="//www.youtube.com/embed/GM54T3gyf9k" frameborder="0" allowfullscreen></iframe><br><br>


														</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
												<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<strong>eyesonison.india@gmail.com</strong><hr><br/> <br/>  <!--<h3>Resources</h3>-->
											<ul class="bullet-3">
{% include "ison-html/link.html" %}

</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		<!--Begin Bottom Area-->
				<div id="footer-top"><div id="footer-top2"></div></div>
				<div id="footer">
			<br/>
			<!--Begin Copyright and Validation Section-->
						<div id="footer-bar">
				<div class="wrapper">
							<!--				<div class="copyright-block">
						<a href="http://www.relativitycomputing.com/" title="Kiran Tikare" class="nounder"><img src="images/blank.gif" alt="Developed by Kiran Tikare" id="rocket" /></a>
						<div id="copyright">
							&copy; Copyright 2013, All Rights Reserved
						</div>
					</div>
								-->							
									</div>
			</div>
						<!--End Copyright and Validation Section-->
		</div>
		<!--End Bottom Area-->
			</body>

</html>
