{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->
    
    
<table border="0">
<tr>
<td>
<img src="res/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h1 style="color:#32447A"><a id="main">The comet poster set</a></h1>
</td>
</tr>
</table>


<p>The Eyes on ISON campaign has created a set of 19 posters on comets, including how to observe comet ISON. We encourage everyone to download and print these, and display them in your school, college, or neighbourhood. These are best printed on 3x4 feet (widthxheight) with the full resolution files, and have been designed to be of good quality for flex printing too. These posters were designed by Arya Rothe, with contents from Samir Dhurde and Niruj Mohan, with support from Vigyan Prasar.
</p>

<p>This set of posters can be freely downloaded below, for non-commercial use, by anyone. If you would like to help us translate any of these into a language you are familiar with, let us know. We will add the posters in different languages as and when we obtain them.
</p>

<table cellspacing="15">
<tr>
<td> <img src="/static/gstudio/images-ison/pvsmall/Poster01_SolarSystem_vsmall.jpg" width="70px"> </td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster03_WhatIsComet_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster04_CometAnatomy_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster05_CometTails_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster06_OrbitsOfComets_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster07_TypesOfComets_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster11_DidCometsWetEarth_vsmall.jpg" width="70px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster12_Cometthreattolife_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster13_Shoemakerlevy9JupiterCrash_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster14_FamousCraters_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster15_MeteorShowers_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster18_CometISON_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster19_TrackISON_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster16_HistoryofCometWatching_vsmall.jpg" width="70px"></td>
</tr>

<tr>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster17_DiscoverComet_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster09_HalleysComet_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster08_FamousComets_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster10_CometSpaceMissions_vsmall.jpg" width="70px"></td>
<td><img src="/static/gstudio/images-ison/pvsmall/Poster02_FormationOfSolarSystem_vsmall.jpg" width="70px"></td>
</tr>

</table>



<p><a href="poster_gallery.html">Click here</a> for a (non-printable) larger gallery of all the posters.</p>

<ol>
<li><a href="#eng">Posters in English</a> </li>
<li><a href="#hin">Posters in Hindi </a></li>
<li><a href="#tam">Posters in Tamil </a></li>
</ol>


<h3><u><a id="eng">Posters in English</a></u></h3>

<ul>
<li>Low-res files are 72 dpi jpegs, for printing in 25 X 33 inches (width X height), roughly 1-3 MB each </li>
<li>Med-res files are 100 dpi png files, for printing in 36 X 48 inches (width X height), roughly 15 MB each </li>
<li>Hi-res files are 100 dpi tiffs, for printing in 36 X 48 inches (width X height), roughly 60-70 MB each </li>
</ul>
<br>

<table border="0" cellspacing="10">
<tr>
  <td>1. Solar System<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Md2VUNmlneTg5ZEE">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Mckl1dFBMTTVqLW8">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MdU01MExkc2FOYVE">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. What is a comet ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MNmlJc1prUi1YZmc">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MWFJ4LWlYUG5UcVU">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1McVhjbmlvWFhHbFk">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Why do comets have tails ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MQmMxTERsUUt2QTQ">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MWUxuTXVmdXU5OGs">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MaVFpdldOUjk0dkE">Hi-res</a></td>
</tr>
<tr>
  <td>4. Anatomy of a Comet <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MbHlDc1FnQXRYT0U">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1McU9udkJ3dTJuSGM">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MNkxtY1JtQ2ZTbm8">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Did comets make the Earth wet ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MYnBWNjlmOGNFWkk">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MV2hIN1c1U3hwYWM">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MNF9HQW92WTlIczg">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Space Missions<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MTzdqNFZBZXR6SjQ">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Mckd3dFVhUjBnYjA">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MUGRaWm5CZndXWnM">Hi-res</a></td>
</tr>
<tr>
  <td>7. Comet collides with Jupiter <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Ma1hsSW5tcjhvZkk">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Md2hNcjVNNTc0YTA">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MalAxLUpfUXJNN1k">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. Are comets a threat to life ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MYUtFT2lLQkpCRXc">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1ManMydGJmRUdQcHM">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MdWc2MnNmNmhaSFk">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. Types of comets<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MalVvek1YUFA3SGM">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MYVdCUlNYNkhjT2c">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MNmcxcUtLaXF6b0E">Hi-res</a></td>
</tr>
<tr>
  <td>10. Orbits of comets<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1McW9OSzl0allfU2s">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MVVdrdjNiNktrYkk">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MT0c3alEwQXVlMDA">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. Halley's comet <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MaEJMSldkYlExTGc">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MdjU2MHNsRElpeFU">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MWW0yXzBPVmV6SGs">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. Comet ISON<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MRUQwaTZNcm9fVG8">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MRERzeFRKNWFoMG8">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1McG5pQ3RsMElkYWs">Hi-res</a></td>
</tr>
<tr>
  <td>13. How to track comet ISON<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Mb1lUa2VQQjFCb00">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MY1ZrUHkyckc4X1E">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MZDlyTE95RjRMZk0">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14. Famous craters on Earth <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MU0pRRG5HSG9fRms">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MS3BMc2NVWGNsQXc">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MbDN0VVBJa0NMZHM">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15. History of comet watching<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MbmFadnpkVmMyUGc">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MTlhYcXlZVjhNeDA">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MeXRRZ0pRV3pvSXc">Hi-res</a></td>
</tr>
<tr>
  <td>16. Discovering comets <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Md0JLdlZTLVNKMzQ">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MLWdYZ1lIUUE4SFU">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MZEtOblhEbVZTZ0U">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17. Meteor showers<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MV0pKR0F1TUV1dkE">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MeUctVmpIbEt1dUU">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MUEJWbDRDelFNbFE">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18. Famous comets<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MRjROSFUyMFpXRDQ">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MNDcyNzI4UkI5VDg">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MRGhvS1BnZDFCeWc">Hi-res</a></td>
</tr>
<tr>
  <td>19. Formation of Solar System<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MV3dLQ29oMlVUQjQ">Low-res</a>&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1Ma0lXQnJ0OFUzNVU">Med-res</a>&nbsp;
      <a href="https://docs.google.com/file/d/0B99LWfn4AD1MUmFtd25fcWNqUEU">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>
<a href="#main">(Back to Top)</a>


<h3><u><a id="hin">Posters in Hindi</a></u></h3>

<ul>
<li>Hi-res files are pdf files, for printing in 36 X 48 inches (width X height), between 20-40 MB each </li>
</ul>
<br>

<table border="0" cellspacing="10">
<tr>
  <td>1. Solar System<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5WTBYMzNnclpPb28">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. What is a comet ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5azNkVS0ya0RlWEk">Hi-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Why do comets have tails ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5QWdMOURPRm56SU0">Hi-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>4. Anatomy of a Comet <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5eDd1emNhZW10LUk">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Did comets make the Earth wet ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5NmNCNWYyV0ZQelE">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Space Missions<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5LXkteF9zR05DOEE">Hi-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>7. Comet collides with Jupiter <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5TkM2QlFqbXVVYU0">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. Are comets a threat to life ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5Q3NaU0lQTVZpV00">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. Types of comets<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5MzZzYkJIRVBLeG8">Hi-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>10. Orbits of comets<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5cm4xMElLb0hXTnM">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. Halley's comet <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5cDc5djJaMmxhclE">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. Comet ISON<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5WHV4OXpfejNMNHM">Hi-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>13. How to track comet ISON<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5RUNVNkY5d1RYOHM">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14. Famous craters on Earth <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5cE84QzJ1bkYtMmM">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15. History of comet watching<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5WUxId2puSXVjRG8">Hi-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>16. Discovering comets <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5ZlhsQUJkSlVIaTA">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17. Meteor showers<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5RHFhUldZSjA1RjQ">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18. Famous comets<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5aUpYa0loa1RsYlE">Hi-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>19. Formation of Solar System<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0BwEtWKgnS1o5TU9LUWI3bE9NdUE">Hi-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>
<a href="#main">(Back to Top)</a>


<h3><u><a id="tam">Posters in Tamil (translated by TNSF)</a></u></h3>

<ul>
<li>Low-res files are 72 dpi jpegs, for printing in 25 X 33 inches (width X height), roughly 1-3 MB each </li>
</ul>
<br>

<table border="0" cellspacing="10">
<tr>
  <td>1. Solar System<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7OXJacUM4NExFVjA">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. What is a comet ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7cU5oUXlNVHIzTWs">Low-res</a></td>

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Why do comets have tails ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7VXB3eFBZWGp5WTQ">Low-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>4. Anatomy of a Comet <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7MmdxZlhoR1hGZVk">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Did comets make the Earth wet ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7blZKZTF3VFl0T0E">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Space Missions<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7NWhUZVJQeHFVYXc">Low-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>7. Comet collides with Jupiter <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7cDFXa2cyc3NGYXM">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. Are comets a threat to life ?<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7RkN6UEE2cVE3QW8">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. Types of comets<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7cElSWS05em9oREU">Low-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>10. Orbits of comets<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7RGp0RG5tV21DVzQ">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. Halley's comet <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7aGpRVG9IRU1uN2s">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. Comet ISON<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7MVlWQVhJamRfVDg">Low-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>13. How to track comet ISON<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7YVZJZWRnQ2c2RzQ">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14. Famous craters on Earth <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7U2FXdEpoMGhtNUU">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15. History of comet watching<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7WTlxYkpac0ZCMEU">Low-res</a>&nbsp;&nbsp;
</tr>
<tr>
  <td>16. Discovering comets <br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7dDcyUTJDRjhSSkk">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17. Meteor showers<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7bjY3Yl9BU2VIaHc/edit">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18. Famous comets<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7aEQwMWFIdWpaQnM">Low-res</a>&nbsp;&nbsp; 
</tr>
<tr>
  <td>19. Formation of Solar System<br>
      &nbsp;&nbsp;&nbsp;
      <a href="https://docs.google.com/file/d/0B8_Y10KYWmy7SG53MzdUUEN4MmM">Low-res</a>&nbsp;&nbsp; 

  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>
<a href="#main">(Back to Top)</a>
    


    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}