{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->


<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h2 style="color:#32447A">Campaign Resource Materials</h2>
</td>
</tr>

</table>


<p>
The Eyes on ISON campaign had produced resource materials of many types, and are translating them into as many languages
as possible. All of these can be freely downloaded, for non-commercial use, by anyone. If you would like to help us translate any of these into a language you are familiar with, let us know.
</p>

<ol>
<li><a href="/ison/posters">A set of posters</a></li>
<li><a href="/ison/handbook">Handbooks for activities</a></li>
<li><a href="/ison/ppts">Presentations</a></li>
<li><a href="/ison/videos">Videos and animations</a></li>
</ol>




    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}