{% include "ison-html/ison-header.html" %}


    <!-- Add Content Below This -->

<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">Vainu Bappu and his Comet</h3>
</td>
</tr>
</table>

	<ul>
		<li><a href="http://ison.metastudio.org/static/img/IChoudhuryMidDay09_TheBeauraucratAndTheStargazer.pdf" target="_blank">The Beauraucrat and The Stargazer (PDF)</a></li>
		<li><a href="http://ison.metastudio.org/static/img/885E-Vainu.pdf" target="_blank">Vainu Bappu and His Comet (PDF)</a></li>
		<li><a href="http://cs.astronomy.com/asy/b/astronomy/archive/2011/09/22/guest-blog-a-historical-comet-discovery.aspx" target="_blank">A Historical Comet Discovery</a></li>
        <li><a href="http://ison.metastudio.org/static/img/CometBappuPlateStory.pdf" target="_blank">Comet Bappu (PDF)</a></li>
        <li><a href="http://prints.iiap.res.in/bitstream/2248/2020/1/Proc_Ap_Ak_Sci_6_2_2002_79-86.pdf" target="_blank">M.K Vainu Bappu: Father of Modern Astronomy in India (PDF)</a></li>
        <li><a href="http://www.currentscience.ac.in/Volumes/105/01/0116.pdf" target="_blank">Comet Bappu-Bok-Newkirk- the only comet with an Indian's Name to it: <i>Current Science</i> (PDF)</a> </li>
        <li><a href="http://www.currentscience.ac.in/Volumes/105/03/0388.pdf" target="_blank">Addendum - Comet Bappu-Bok-Newkirk- the only comet with an Indian's Name to it: <i>Current Science</i> (PDF)</a> </li>
        <li><a href="http://www.currentscience.ac.in/Volumes/105/03/0295.pdf" target="_blank">Tracing the photographic plate of Comet Bappu-Bok-Newkirk: <i>Current Science</i> (PDF)</a> </li>
	</ul>




    <!--End of Main Content Area-->


{% include "ison-html/ison-footer.html" %}