{% include "ison-html/ison-header.html" %}
						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->

<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">List of Workshops - by State </h3>
</td>
</tr>
</table>


<p>If you are organising an Eyes on ISON workshop, please do let us know so we can add it to the list. If you are organising your own workshop and would like it to be mentioned here, let us know as well. </p>

<p>If you would like to participate in a workshop near you, please get in touch with the person listed under <b>Contact</b>.</p>

<h4>
<u>National Workshops</u>
</h4>

<b> When  : </b> Aug 20-22 2013 <br>
<b> Where : </b> CCS, IISc, Bengaluru <br>
<b> What : </b> National Workshop - South India <br>
<b> Contact : </b> H S Jaykumar, BGVS<br>
<b> Email : </b> jaykumarhs at gmail dot com; 9620464215 <br><br>

<b> When  : </b> Aug 22-24 2013 <br>
<b> Where : </b> Planetarium, Guwahati<br>
<b> What : </b> National Workshop - East and NE India <br>
<b> Contact : </b> Tapan Sarma <br>
<b> Email : </b> tapan dot k dot sarma at gmail dot com <br><br>

<b> When  : </b> Sep 3-5 2013 <br>
<b> Where : </b> NCCCTR, Bhopal <br>
<b> What : </b> National Workshop - North India <br>
<b> Contact : </b> Vijay Patel, BGVS<br>
<b> Email : </b> vijay dot katni at gmail dot com <br><br>

<!--
<h4>
<u>Andhra Pradesh</u>
</h4>

<b> When  : </b> Oct 5-7, 2013 <br>
<b> Where : </b> Vijayawada <br>
<b> What : </b> State Workshop - Andhra Pradesh <br>
<b> Contact : </b> T. Srinath, JVV (srinath.jvv at gmail dot com; 9490300305)<br><br>
--!>

<h4>
<u>Arunachal Pradesh </u>
</h4>

<b> When  : </b> Nov 23-24, 2013<br>
<b> Where : </b> Itanagar <br>
<b> What : </b> State Workshop - Arunachal Pradesh <br>
<b> Contact : </b> Arunabha Misra, PBVM (misraarunabha at hotmail dot com; 9831105979)<br><br>


<h4>
<u>Assam</u>
</h4>

<b> When  : </b> Oct 26-27, 2013 <br>
<b> Where : </b> Planetarium, Guwahati <br>
<b> What : </b> State Workshop - Assam <br>
<b> Contact : </b> Tapan Sarma, GVS (tapan dot k dot sarma at gmail dot com; 9706010490)<br><br>


<h4>
<u>Chattisgarh </u>
</h4>

<b> When  : </b> Oct 5-6, 2013 <br>
<b> Where : </b> SCRT, Raipur <br>
<b> What : </b> State Workshop - Chattisgarh <br>
<b> Contact : </b> Vishwas Meshram, Chattisgarh Vigyan Sabha (vigyansabha at gmail dot com; 8959591845) <br><br>

<!--
<h4>
<u>Goa </u>
</h4>

<b> When  : </b> Oct 5-6, 2013 <br>
<b> Where : </b> Goa Vidya Prasarak Mandal Observatory, Fonda<br>
<b> What : </b> State Workshop - Goa <br>
<b> Contact : </b> Wilson Vaz, GVPM (wilsonvaz at yahoo dot com; 9860828555)<br><br>
--!>

<!--
<h4>
<u>Gujarat</u>
</h4>

<b> When  : </b> Oct 19-20, 2013 <br>
<b> Where : </b> Vikram Sarabhai Community Science Centre, Ahmedabad <br>
<b> What : </b> State Workshop - Gujarat <br>
<b> Contact : </b> Dhwani Shah, VSCSC (dhwani.shah at vascsc dot org; 9879184469)<br><br>
--!>

<!--
<h4>
<u>Jammu and Kashmir </u>
</h4>

<b> When  : </b> Oct 11-12, 2013 <br>
<b> Where : </b> Gandhi Bhavan, University of Kashmir <br>
<b> What : </b> State Workshop - Jammu and Kashmir <br>
<b> Contact : </b> Manzoor Javaid, Speak (speakngo@ymail.com; 9622556419)<br><br>
--!>

<h4>
<u>Jharkhand</u>
</h4>

<b> When  : </b> Oct 5-6, 2013 <br>
<b> Where : </b> Teacher Training College, Govindpur, Dhanbad <br>
<b> What : </b> State Workshop - Jharkhand <br>
<b> Contact : </b> D. N. S. Anand, GVS and Science for Society (sfs_jsr at yahoo dot com; 8986710311) <br><br>

<!--
<h4>
<u>Haryana</u>
</h4>

<b> When  : </b> Sep 24-25, 2013 <br>
<b> Where : </b> E-max, Ambala <br>
<b> What : </b> State Workshop - Haryana <br>
<b> Contact : </b> Satbir Nagal, HVM (vigyanmanch at gmail dot com;  9215610535)<br><br>
--!>

<!--
<h4>
<u>Himachal Pradesh</u>
</h4>

<b> When  : </b> Oct 4-5, 2013 <br>
<b> Where : </b> HGVS Office, Mandi <br>
<b> What : </b> State Workshop - Himachal Pradesh <br>
<b> Contact : </b> Sanjeev Thakur, HGVS (st5781 at gmail dot com;9418073190)<br><br>
--!>

<h4>
<u>Karnataka </u>
</h4>

<b> When  : </b> Oct 18-20, 2013 <br>
<b> Where : </b> Pusphagiri Maha Samsthana, Hassan <br>
<b> What : </b> State Workshop - Karnataka, I <br>
<b> Contact : </b> Ahmed Hagare, BGVS (sciencemessenger at rediffmail dot com; 9844776095)<br>

<!--
<b> When  : </b> Oct 25-26, 2013 <br>
<b> Where : </b> Bengaluru <br>
<b> What : </b> State Workshop - Karnataka, II <br>
<b> Contact : </b> H. S. Jaykumar, BGVS (jaykumarhs at gmail dot com; 9620464215)<br><br>

<b> When  : </b> Nov 2-3, 2013 <br>
<b> Where : </b> Raichur <br>
<b> What : </b> State Workshop - Karnataka, III <br>
<b> Contact : </b> H. S. Jaykumar, BGVS (jaykumarhs at gmail dot com; 9620464215)<br><br>

<b> When  : </b> Nov 19-20 2013 <br>
<b> Where : </b> Gadag <br>
<b> What : </b> State Workshop - Karnataka,IV <br>
<b> Contact : </b> H. S. Jaykumar, BGVS (jaykumarhs at gmail dot com; 9620464215)<br><br>
--!>

<h4>
<u>Kerala </u>
</h4>
<b> When  : </b> Sep 27-29, 2013 <br>
<b> Where : </b> Public Astro Observatory, Payyanur, Kannur <br>
<b> What : </b> State Workshop - North Kerala<br>
<b> Contact : </b> K.P. Sreenivasan (kpspattom at gmail dot com; 9447715674)<br><br>

<b> When  : </b> Oct 4-6, 2013 <br>
<b> Where : </b> Science & Technology Museum, Thiruvananthapuram <br>
<b> What : </b> State Workshop - South Kerala<br>
<b> Contact : </b> K.P. Sreenivasan (kpspattom at gmail dot com; 9447715674)<br><br>


<!--
<h4>
<u>Madhya Pradesh </u></u>
</h4>

<b> When  : </b> Oct 5-6, 2013 <br>
<b> Where : </b> Regional Science Centre, Bhopal <br>
<b> What : </b> State Workshop - Madhya Pradesh <br>
<b> Contact : </b> S. R. Azad, MPVS (srazad61 at gmail dot com; 9425009257) <br><br>
-->
<h4>
<u>Maharashtra </u>
</h4>
<b> When : </b>
Oct 1-2, 2013
<br>
<b> Where : </b>
Pune
<br>
<b> What : </b>
State Workshop - Maharashtra
<br>
<b> Contact : </b>
Vipula Abhyankar, Navnirmiti (abhyankar.modern at gmail dot com; 9403359608)
<br>
<br>
<b> When : </b>
Oct 3-5, 2013
<br>
<b> Where : </b>
Centre for Astronomy and Space Technology, Nanded
<br>
<b> What : </b>
District Exhibition
<br>
<b> Contact : </b>
Shrinivas Aundhkar, CAST (aundhkar_s at yahoo dot com; 9422171256)
<br>
<br>
<b> When : </b>
Oct 6, 2013
<br>
<b> Where : </b>
Centre for Excellence in Basic Sciences, University (Vidyanagari campus), Kalina
<br>
<b> What : </b>
District Workshop - Mumbai
<br>
<b> Contact : </b>
Gargi Shaw, CBS (gargi at cbs dot ac dot in)
<br>
<br>
<b> When : </b>
Oct 11-12, 2013
<br>
<b> Where : </b>
Fergusson College, Pune
<br>
<b> What : </b>
Poster Exhibition
<br>
<b> Contact : </b>
Raka Dabhade, Fergusson College
<br>
<br>
<b> When : </b>
Oct 19, 2013
<br>
<b> Where : </b>
Shri Shivaji Vigyan Mahavidyalay, Amravati
<br>
<b> What : </b>
District Workshop - Amravati
<br>
<b> Contact : </b>
Murtaza Ali, Shivaji College (ati.hamza at gmail dot com; 9422155049)
<br>
<br>
<b> When : </b>
Oct 28, 2013
<br>
<b> Where : </b>
Madhyamik Shikshak Patpedhi, Ratnagiri, Maharashtra
<br>
<b> What : </b>
District Workshop - Ratnagiri, Maharashtra
<br>
<b> Contact : </b>
B.D. Sutar (babasutar at gmail dot com); 9422636850
<br>
<br>
<b> When : </b>
Oct 30, 2013
<br>
<b> Where : </b>
Met Polytechnic, Bhujbal Knowledge City, Nasik, Maharashtra
<br>
<b> What : </b>
District Workshop - Nasik, Maharashtra
<br>
<b> Contact : </b>
Rahul Gaware, BGVS (mgaware at gmail dot com); 9421564131
<br>
<br>

<h4>
<u>Meghalaya </u>
</h4>

<b> When  : </b> Oct 9-10, 2013<br>
<b> Where : </b> Shillong Science Centrer, Shilong <br>
<b> What : </b> State Workshop - Meghalaya <br>
<b> Contact : </b> Arunabha Misra, PBVM (misraarunabha at hotmail dot com; 9831105979)<br><br>

<h4>
<u>Mizoram </u>
</h4>

<b> When  : </b> Nov 27-28, 2013<br>
<b> Where : </b> Aizol <br>
<b> What : </b> State Workshop - Mizoram <br>
<b> Contact : </b> Arunabha Misra, PBVM (misraarunabha at hotmail dot com; 9831105979)<br><br>

<h4>
<u>Nagaland </u>
</h4>

<b> When  : </b> Nov 21-22, 2013<br>
<b> Where : </b> Kohima <br>
<b> What : </b> State Workshop - Nagaland <br>
<b> Contact : </b> Arunabha Misra, PBVM (misraarunabha at hotmail dot com; 9831105979)<br><br>

<h4>
<u>Odisha </u>
</h4>

<b> When  : </b> Oct 25 & 26, 2013 <br>
<b> Where : </b> Bhubaneswar <br>
<b> What : </b> State Workshop - Odisha <br>
<b> Contact : </b> Blorin Kumar Mohanty, BGVS & VPM (blorinm at yahoo dot co dot uk; 9437111204)<br><br>

<b> When  : </b> Oct 20, 2013 <br>
<b> Where : </b> Jaya Durga High School, Narla Road, Kalahandi <br>
<b> What : </b> District Workshop - Kalahandi <br>
<b> Contact : </b> Santosh Kumar Kar (santosh_kar at rediffmail dot com; 9438052115)<br><br>

<h4>
<u>Puducherry </u>
</h4>
<b> When : </b>
Oct 18-19, 2013
<br>
<b> Where : </b>
Lycee Francaise School, Pondicherry
<br>
<b> What : </b>
State Workshop - Pondicherry
<br>
<b> Contact : </b>
A. Hemavathi, PSF (cerdpsf at gmail dot com; 9443262773)
<br>
<br>
<b> When : </b>
Nov 15-16, 2013
<br>
<b> Where : </b>
Presidency Higher Secondary School, Reddiarpalayam, Puducherry
<br>
<b> What : </b>
State Workshop II - Pondicherry
<br>
<b> Contact : </b>
A. Hemavathi, PSF (cerdpsf at gmail dot com; 9443262773)
<br>
<br>
<u>Punjab </u>
</h4>
<b> When : </b>
Nov 8-9, 2013
<br>
<b> Where : </b>
Pushpa Gujral Science City, Kapurthala
<br>
<b> What : </b>
State Workshop - Punjab
<br>
<b> Contact : </b>
Dr. Garg, BGVS Coordinator (ysa_punjab2004@yahoo.com); 9914505009
<br>
<br>


<!--
<h4>
<u>Rajasthan </u>
</h4>

<b> When  : </b> Oct 5-6, 2013 <br>
<b> Where : </b> SRC, Jaipur <br>
<b> What : </b> State Workshop - Rajasthan <br>
<b> Contact : </b> Narendra Singh, BGVS (bgvsraj at yahoo dot com; 9460129070)<br><br>
--!>

<h4>
<u>Sikkim </u>
</h4>

<b> When  : </b> Nov 18-19, 2013 <br>
<b> Where : </b> Gangtok <br>
<b> What : </b> State Workshop - Sikkim <br>
<b> Contact : </b> Dorjee Thinlay Bhutia, SSC (dthinlay at hotmail dot com; 9434188242)<br><br>

<h4>
<h4>
<u>Tamil Nadu </u>
</h4>

<b> When  : </b> Sep 23-24, 2013 <br>
<b> Where : </b> Tiruppur <br>
<b> What : </b> State Workshop - Tamilnadu <br>
<b> Contact : </b> Parthasarathy , TNSF (spsarathy72 at gmail dot com; 9444731336) <br><br>



<h4>
<u>Tripura</u>
</h4>
<b> When : </b>
Oct 20-21, 2013
<br>
<b> Where : </b>
T.B. Hall, Agartala
<br>
<b> What : </b>
State Workshop - Tripura
<br>
<b> Contact : </b>
Brajagopal Majumder, BGVS (bgmajumderat gmail dot com)
<br>
<br>
<b> When : </b>
Nov 15, 2013
<br>
<b> Where : </b>
Belonia, South District, Tripura
<br>
<b> What : </b>
District Workshop - South, Tripura
<br>
<b> Contact : </b>
Ayan Saha, Tripura Astronomical Society (astronomy.trp at gmail dot com)
<br>
<br>
<b> When : </b>
Nov 16, 2013
<br>
<b> Where : </b>
Udaipur, Gomati District, Tripura
<br>
<b> What : </b>
District Workshop - Gomati, Tripura
<br>
<b> Contact : </b>
Ayan Saha, Tripura Astronomical Society (astronomy.trp at gmail dot com)
<br>
<br>
<b> When : </b>
Nov 18, 2013
<br>
<b> Where : </b>
Kamalpur, Dhalai District, Tripura
<br>
<b> What : </b>
District Workshop - Dhalai, Tripura
<br>
<b> Contact : </b>
Ayan Saha, Tripura Astronomical Society (astronomy.trp at gmail dot com)
<br>
<br>
<b> When : </b>
Nov 19, 2013
<br>
<b> Where : </b>
Kailasahar, Unakoti District, Tripura
<br>
<b> What : </b>
District Workshop - Unakoti, Tripura
<br>
<b> Contact : </b>
Ayan Saha, Tripura Astronomical Society (astronomy.trp at gmail dot com)
<br>
<br>
<b> When : </b>
Nov 20, 2013
<br>
<b> Where : </b>
Dharmanagar, North District, Tripura
<br>
<b> What : </b>
District Workshop - North, Tripura
<br>
<b> Contact : </b>
Ayan Saha, Tripura Astronomical Society (astronomy.trp at gmail dot com)
<br>
<br>

<!--
<h4>
<u>Uttarakhand</u>
</h4>

<b> When  : </b> Oct 24-25, 2013 <br>
<b> Where : </b> Navodya Vidyalaya, Dehradun <br>
<b> What : </b> State Workshop - Uttarakhand <br>
<b> Contact : </b> Vijay Bhatt, GVS (vijaybhatt_bgvs at yahoo dot com; 9456111613)<br><br>
--!>

<h4>
<u>West Bengal </u>
</h4>

<b> When  : </b> Oct 5-6, 2013 <br>
<b> Where : </b> Burdwan <br>
<b> What : </b> State Workshop - West Bengal <br>
<b> Contact : </b> Arunabha Misra, PBVM (misraarunabha at hotmail dot com; 9831105979)<br><br>




														</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
												<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<strong>eyesonison.india@gmail.com</strong><hr><br/> <br/>  <!--<h3>Resources</h3>-->
											<ul class="bullet-3">
{% include "ison-html/link.html" %}

</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		{% include "ison-html/ison-footer.html" %}
			</body>

</html>
