{% include "ison-html/ison-header.html" %}

						<div class="mainmod-surround">
							<div id="mainmodules" class="spacer w49" style="padding:10px">
							<!-- Add Content Here -->
							
<table border="0">
<tr>
<td>
<img src="/static/gstudio/images-ison/EoI_logo_small.png" border="0" width="140px" height="103px"/>
</td>
<td>
<h3 style="color:#32447A">National Workshops</h3>
</td>
</tr>
</table>                    
                            
                            
                            <p>The first set of national-level resource persons’ training workshops, at Bangalore, Guwahati
 and Bhopal served the southern, north-eastern and northern states of India, respectively. The 
workshops had a total of about 200 participants from diverse backgrounds such as science 
communicators, school teachers, amateur astronomers and science students, representing 27 of the 
30 States. These workshops were funded by the NCSTC, Department of Science & Technology, 
Government of India.</p>
                            
							<h3> Bangalore Workshop </h3>
							<ul>
								<li>
									<strong>Programme</strong> <br/>
									<a href="/ison/bangalore"> Bangalore Workshop Schedule- 20 to 22 August 2013</a>
								</li>
								<li>
									<strong>Presentations</strong>
									<ul>
									    <li><a href="http://web-japps.ias.ac.in/video/others/2013/bpschmidt.mp4" target="_blank"> Brian Schmidt Talk (MP4) </a></li>
										<li><a href="http://ison.metastudio.org/static/img/CometBappuPlateStory.pdf"  target="_blank"> C/1949 N1 (Bappu-Bok-Newkirk) -By Amar Sharma</a> </li>
	<!--<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28NllPMjB6QWpMMjQ/edit?usp=sharing" target="_blank">History of Comets - By S Parthasarathy </a></li>-->
	<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28Rm9jQjc5Z1E3N2M/edit?usp=sharing" target="_blank">Astronomy, Astrology & Scientific Temper - By K Pappootty</a></li>
	<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28Wk5YejdObG5uQnc/edit?usp=sharing"  target="_blank">Solar System & Comets - By B S Shylaja</a></li>
	<li><a href="https://docs.google.com/file/d/0B6PpLaUI3IuFTHV3NG9Xb1hmbDA"  target="_blank">Comet ISON - by Vasundhara Raju</a></li>
									</ul>
								</li>
								<li><strong>Photos</strong><br/>
								
								</li>
							</ul>
							<br/>
							
							<h3> Guwahati Workshop </h3>
							<ul>
								<li>
									<strong>Programme</strong><br/>
									<a href="/ison/guwahati"> Guwahati Workshop Schedule- 22 to 24 August 2013</a>
								</li>
								<li>
									<strong>Presentations</strong>
									<ul>
									<li> <a href="https://docs.google.com/file/d/0B6PpLaUI3IuFZlYxdThadEhVeUU/" target="_blank">Comet ISON - By U.N.Deka  (PPT)</a></li>
									<li> <a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28Y1lXQkxWd1JhbmM"  target="_blank">What can we learn from Comets & how ? - By Margarita Safonova (PPT)</a></li>
									<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28SHJ5YVd6ZzZ3MjQ"  target="_blank">Solar System - By Aniket Sule (PPT)</a></li>
									</ul>
								</li>
								<li><strong>Photos</strong><br/>
								
								</li>
							</ul>
							<br/>
							
							<h3> Bhopal Workshop </h3>
							<ul>
								<li>
									<strong>Programme</strong><br/>
									<a href="/ison/bhopal"> Bhopal Workshop Schedule- 3 to 5 September 2013</a>
								</li>
								<li>
									<strong>Presentations</strong>
									<ul>
										<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28emFxNF9UQ2xGa3c/edit?usp=sharing"  target="_blank">Comet ISON - By S Pandey (PPT)</a></li>
										<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28YzJDZ3ZlQk5PcDg/edit?usp=sharing"  target="_blank">Our Solar System - By Arvind Ranade (PPT)</a></li>
										<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28a2VpX2ZsSVlsZlk/edit?usp=sharing"  target="_blank">Astronomy in India - By Samir Dhurde (PPT)</a></li>
										<li><a href="https://docs.google.com/file/d/0B-Ah8BZsRJ28UmhlNUhCOFBKWGs/edit?usp=sharing"  target="_blank"> The Multicolor Universe - By Ayesha (PPT)</a></li>
									</ul>
								</li>
								<li><strong>Photos</strong><br/>
								
								</li>
							</ul>
							<br/>
							</div>
						</div>
						<div class="mainmod-bottom"><div class="bottomleft"><div class="bottomright"></div></div></div>
												<div id="main-content">
																					<div id="maincontent-block">
								
																<table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

															</div>
						</div>
											</div>
					<!--End Main Column-->
					<!--Begin Right Column-->
										<div id="rightcol">
						<div class="padding">
																							<div class="module">
			<div>
				<div>
					<div>
													<strong>eyesonison.india@gmail.com</strong><hr><br/> <br/>  <!--<h3>Resources</h3>-->
											<ul class="bullet-3">
{% include "ison-html/link.html" %}
</ul>					</div>
				</div>
			</div>
		</div>
	
						</div>
					</div>
										<!--End Right Column-->
				</div>
				<div class="clr"></div>
							</div>
			<div id="main-body-bottom"></div>
			<div class="wrapper">
							</div>
		</div>
		<!--End Main Content Area-->
		{% include "ison-html/ison-footer.html" %}
			</body>

</html>
